---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About Habisos"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Habisos Image',
    }}
  >
    <Fragment slot="title">
      Optimize your business workflow with <br />
      <span class="text-accent dark:text-white highlight"> Habisos SaaS Solutions</span>
    </Fragment>

    <Fragment slot="subtitle">
      Habisos is designed to streamline task and project management for service-based businesses. With our platform, you
      can easily organize, track, and manage all your jobs in one place. Whether you're a freelancer or managing a
      growing team, Habisos ensures efficiency, organization, and seamless collaboration for your business.
    </Fragment>
  </Hero>

</Layout>
