---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Prices from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';

const devicesMockup = '~/assets/images/devices-mockup.png';

const metadata = {
  title: 'Gestion de trabajos',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: 'https://app.habisos.com/login',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: 'https://app.habisos.com/register?plan=Starter&utm_source=website&utm_medium=pricing_button&lang=en',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Habisos"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Get Started',
        href: 'https://app.habisos.com/register?plan=Starter&utm_source=website&utm_medium=hero&lang=en',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: devicesMockup,
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Manage Your Work Like a Professional <br /> Centralize Everything with <span
        class="text-accent dark:text-white highlight">Habisos</span
      ><br />
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    <Features
    id="features"
    title="Why Choose Habisos?"
    subtitle="Discover how these powerful features simplify your workflow and elevate your business."
    columns={2}
    items={[
      {
        title: 'Job Management',
        description:
          'When you receive a job, you can create, schedule, and manage jobs. Add documentation, images, and tasks.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Customers and Contacts',
        description: `Analyze and segment your clients. Discover which ones are the most profitable and get detailed reports on each one.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Task and Workflow Automation',
        description:
          'Save time by automating repetitive tasks, assigning workflows, and setting reminders for deadlines. Focus on what matters most.',
        icon: 'tabler:robot',
      },
      {
        title: 'Integrated Calendar and Scheduling',
        description:
          'Manage your team’s schedule with an intuitive calendar. Assign jobs, track availability, and ensure no task is left behind.',
        icon: 'tabler:calendar',
      },
      {
        title: 'AI-Powered Insights and Recommendations',
        description:
          'Leverage AI to analyze patterns, predict job durations, and offer actionable insights to optimize your workflow and boost efficiency.',
        icon: 'tabler:brain',
      },
      {
        title: 'Comprehensive Reporting and Insights',
        description:
          'Track performance metrics, job statuses, and team productivity. Make data-driven decisions to grow your business.',
        icon: 'tabler:chart-pie',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Use Cases"
    subtitle="Discover how Habisos transforms the way service businesses operate, offering tailored solutions to streamline processes and maximize efficiency."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Are you a service provider looking to streamline your operations? Habisos empowers your business by providing tools to manage jobs, clients, and schedules with ease. Our platform ensures efficient workflows, saving time and increasing profitability. Many businesses trust Habisos to enhance their daily operations and deliver exceptional service to their clients.',
      },
      {
        title: 'Benefits:',
        description: `Empower businesses to manage their operations efficiently, reducing administrative burdens. <br /> Impress clients with clear job tracking, detailed documentation, and timely updates. <br /> Optimize team productivity with intuitive tools for scheduling and task assignment. <br /> Gain actionable insights with comprehensive reports, helping you make informed decisions and grow your business.`,
      },
    ]}
    image={{
      src: '~/assets/images/content1-image.jpeg',
      alt: 'Service Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Success Stories: <br /><span class="text-2xl">Streamlining Operations with Habisos</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `For service businesses, efficient management is key. Habisos helps showcase your capabilities while optimizing workflows. With a user-friendly interface and advanced tools, Habisos ensures seamless job, client, and schedule management, reflecting your business's professionalism and efficiency.`,
      },
      {
        title: 'Benefits:',
        description: `Provide a cohesive and intuitive platform tailored for service businesses. <br /> Highlight complex workflows with simple, interactive visualizations and clear documentation. <br /> Focus on solving client pain points through streamlined job and task management. <br /> Motivate teams and clients with actionable insights and dynamic dashboards. <br /> Ensure your platform is accessible and functional on any device.`,
      },
    ]}
    image={{
      src: '~/assets/images/content2-image.jpg',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Service Management SaaS: <br /><span class="text-2xl">Empowering Efficiency</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Prices
    title="Our Pricing Plans"
    subtitle="Solutions tailored for businesses of all sizes"
    prices={[
      {
        title: 'Freelancers',
        subtitle: 'Ideal for individual users or freelancers',
        price: 19,
        period: 'per month',
        items: [
          {
            description: '1 user included',
          },
          {
            description: 'Efficient job and task management',
          },
          {
            description: 'Basic analytics and reporting',
          },
          {
            description: 'Email support',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Try it free for 30 days',
          href: 'https://app.habisos.com/register?plan=Starter&utm_source=website&utm_medium=pricing_button&lang=en',
        },
      },
      {
        title: 'Small Businesses',
        subtitle: 'Perfect for teams of up to 10 users',
        price: 49,
        period: 'per month',
        items: [
          {
            description: 'Up to 10 users included',
          },
          {
            description: 'Efficient job and task management',
          },
          {
            description: 'Detailed analytics and reporting',
          },
          {
            description: 'Priority email and chat support',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Try it free for 30 days',
          href: 'https://app.habisos.com/register?plan=Business&utm_source=website&utm_medium=pricing&lang=en',
        },
      },
      {
        title: 'Large Enterprises',
        subtitle: 'Custom solutions for larger organizations',
        items: [
          {
            description: 'Unlimited users',
          },
          {
            description: 'Custom integrations and features',
          },
          {
            description: 'Dedicated account manager',
          },
          {
            description: '24/7 support and SLA',
          },
        ],
        callToAction: {
          target: '',
          text: 'Contact Sales',
          href: '/contact',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Is this platform suitable for freelancers and small businesses?',
        description:
          'Yes, our platform is tailored to meet the needs of both freelancers and small businesses. It offers features that scale with your growth, whether you’re managing jobs solo or with a team.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I use this solution for managing projects across multiple clients?',
        description: `Absolutely! Our platform is designed for multi-client management, allowing you to organize jobs, track progress, and communicate effectively with clients all in one place.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Do I need advanced technical skills to use the platform?',
        description:
          'No, the platform is user-friendly and intuitive. It requires minimal technical knowledge, and you’ll find tools and guides to help you make the most of its features. For advanced users, we offer customization options to tailor the platform to your needs.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is there customer support available?',
        description: `Yes, our dedicated customer support team is ready to assist you. Whether you have technical questions or need guidance on features, we're here to help via email or chat.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Get in Touch"
    subtitle="Need assistance or have questions? Reach out to us using the details below. We're here to help!"
    callToAction={{
      text: 'Contact Us',
      href: '/contact',
    }}
    items={[
      {
        title: 'Email Support',
        description: 'support@habisos.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Follow Us',
        description: 'https://www.linkedin.com/company/habisos',
        icon: 'tabler:brand-linkedin',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <!-- <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</Layout>
